// 顏色規範
$color: (
    // 主色
    primary: #f2edf0,
    secondary: #e6ece5,
    tertiary: #ecf0f4,
    // 輔助
    lesser-1: #f3e4e4,
    lesser-2: #efdbdb,
);
// 漸層
// 數列不可列入map，需要獨立一個變數
$gradient-b-a: rgba(242, 237, 240, 0.2), rgba(236, 240, 244, 0.1);