@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* 主要內容共用區 */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #content */
/* folder專區 */
.folder{
    display: flex;
    width: 1278px;
    height: 803px;
}

.tab__box .btn__tab{
    width: 151px;
    height: 78px;
}

.folder .tabCon__box{
    position: relative;
    width: 1127px;
    height: 803px;
}

.tabCon__box .tab__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.tabCon__box .tab__content.active{
    display: block;
}