// 字級規範
$font-size: (
    s: .85px,
    m: 1rem,
    l: 1.5rem,
    xl: 2rem
);

// 字體規範
$font-family-title: Letter, sans-serif;
$font-family-tc: "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
$font-family-en: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial;