@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* @import一定要在第二行 */
/* 設定編碼，UTF-8一定要在行數1 */
@font-face {
    font-family: Letter;
    src: url(../webfonts/Letter-Regular.otf);
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    /* 不累加內距padding與邊框border */
    box-sizing: border-box;
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    /* background-color: rgb(175, 207, 191); */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    /* 將預設inline改成block */
    display: block;
    text-decoration: none;
    color: #444;
}

/* 共用區 */
.btn-s {
    background-color: white;
    color: #444;
    /* !important權重最重，應少用 */
    width: auto !important;
    height: 35px;
    /* line-height是文字的頂端到下一行的文字頂端 */
    line-height: 30px;
    padding: 0 20px;
    border-radius: 99px;
    transition: .35s ease-in-out;
}

.btn-s:hover {
    background-color: #444;
    color: white;
}

#form--contact input,
#form--contact textarea,
#topbar .menu {
    /* 玻璃擬態效果 */
    /* linear-gradient(white 60%, black 60%)會變成無漸層的分割色塊 */
    background-image: linear-gradient(150deg,
            rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.5));
    /* 內陰影(inset)仿造漸層邊框 */
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15),
        inset -1px -1px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    /* filter: drop-shadow會照著圖像輪廓給陰影 */
    /* filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.5)); */
}

/* 頁首區 */
#topbar {
    background-color: #c9aeae;
    /* 預設主軸為水平 */
    display: flex;
    /* 主軸(水平)均分，貼齊頭尾 */
    justify-content: space-between;
    /* 副軸(垂直)置中 */
    align-items: center;
    padding: 30px;
}

.logo {
    width: 65px;
}

.logo svg {
    /* filter: d-s會照著圖片的輪廓做陰影 */
    filter: drop-shadow(2px 2px white);
    /* box-shadow: ; 是在整個框外面加陰影 */
}

.navigation {
    display: flex;
    /* 主軸變成垂直 */
    flex-direction: column;
    /* 副軸(水平)置底 */
    align-items: flex-end;
}

.navigation .icon {
    display: flex;
}

.navigation .icon a {
    width: 35px;
    height: 35px;
    /* 向左推間距 */
    margin-left: 10px;
    /* transition預設all(所有適用的屬性)，最常用的秒數是0.35s */
    transition: .35s ease-in-out;
}

.icon-fb {
    /* 只有svg圖會自動等比例縮放，其他圖檔會是原始尺寸 */
    background-image: url(../images/icon-fb.svg);
    /* 使用background-image來做:hover圖樣轉換，比使用js撰寫的效能更好 */
    /* background-size: 100%; 若是svg以外的圖檔則需要自行設定尺寸 */
    /* 背景顯示在content + padding */
}

.icon-fb:hover {
    background-image: url(../images/icon-fb-hover.svg);
}

.icon-ig {
    background-image: url(../images/icon-ig.svg);
}

.icon-ig:hover {
    background-image: url(../images/icon-ig-hover.svg);
}

.icon-line {
    background-image: url(../images/icon-line.svg);
}

.icon-line:hover {
    background-image: url(../images/icon-line-hover.svg);
}

.navigation .menu {
    display: flex;
    /* 控制父層外距 */
    margin: 15px 0;
    padding: 10px;
    border-radius: 99px;
}

.navigation .menu li {
    border-right: solid 1px black;
}

.navigation .menu li:last-child {
    border-right: none;
}

.navigation .menu a {
    /* color: #444; */
    /* 將字級稍微調小 */
    font-size: .9rem;
    /* reset時設定了1.5倍line-height(行高)，現在重設為1 */
    line-height: 1;
    /* 控制子層外距 */
    margin: 0 15px;
    /* 預留2px給:hover的transition效果，透明的2px border */
    border-bottom: solid 2px transparent;
    transition: .35s ease-in-out;
}

.navigation .menu a:hover {
    border-bottom: solid 2px black;
}

/* 主要內容共用區 */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h2 {
    font-family: Letter, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: .3rem;
    border-bottom: solid 2px black;
}

.title h3 {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    line-height: 2.5rem;
}

/* 聯絡我們區 */
#contact {
    /* 背景影像基本設定 */
    background-image: url(../images/bg_contact.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* 固定背景 */
    background-attachment: fixed;
}

#form--contact {
    font-family: "Noto Sans TC", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

#form--contact label {
    width: 100%;
    font-size: .85rem;
    line-height: 2;
    margin-top: 1rem;
}

#form--contact input,
#form--contact textarea {
    width: 100%;
    padding: 6px;
    color: #8f6b6d;
    font-weight: 600;
    border-radius: 10px;
    /* 取消表單元素的預設值 */
    background-color: transparent;
    border: none;
}

#form--contact input:focus,
#form--contact textarea:focus {
    /* 取消focus的內框線與外框線 */
    outline: 1px solid #8f6b6d;
}

#form--contact input::placeholder,
#form--contact textarea::placeholder {
    font-size: .75rem;
    font-weight: 400;
    color: rgb(169, 132, 132)
}

#form--contact small {
    font-size: .75rem;
    color: #474747;
    padding: 15px 5px;
}

/* 動態按鈕 */
button#btn__contact--submit {
    /* position: relative; */
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* text-transform: uppercase; */
    height: 60px;
    width: 210px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
}

#btn__contact--submit span {
    color: #164ca7;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

#btn__contact--submit:hover {
    animation: rotate 0.7s ease-in-out both;
}

#btn__contact--submit:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}