@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    border: none;
    background-color: transparent;
}

input,
label {
    display: block;
}

/* 共用區 */
.split-line {
    width: 100%;
    height: 1px;
    background-color: black;
}

input {
    /* 用來校正placeholder */
    position: relative;
}

input:focus {
    outline: none;
}

input::placeholder {
    /* 垂直置中 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* 會員中心頁面區 */
#member-center {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 80px 150px;
    background-color: #f5f5f5;
}

/* 會員中心側邊列區 */
.member-center-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    margin-right: 30px;
    border-radius: 10px;
    overflow: hidden;
}

/* member-center-sidebar__intro */
.member-center-sidebar__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 65px 20px 65px;
    background-color: #c6c6c6;
}

.member-center-sidebar__intro .member-center-sidebar__pic {
    margin-bottom: 20px;
}

.member-center-sidebar__intro .member-center-sidebar__pic img {
    height: 100px;
    width: 100px;
}

.member-center-sidebar__intro .member-center-sidebar__name {
    font-weight: bold;
}

/* member-center_sidebar member-center-sidebar__menu */
.member-center-sidebar .member-center-sidebar__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    font-size: 16px;
}

.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 13px;
    border-bottom: solid 1px #d9d9d9;
}

.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box h4,
.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box .member-center-sidebar__link-box>* {
    margin-bottom: 13px;
}

.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box h4 {
    font-weight: bold;
}

.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box .member-center-sidebar__link-box {
    display: flex;
}

.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box .member-center-sidebar__link-box .icon--small {
    width: 24px;
    height: 24px;
    background-image: url(../images/member_center_icon.svg);
    margin-right: 16px;
}

.member-center-sidebar .member-center-sidebar__menu .btn-logout--large {
    width: 220px;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 5px;
    margin-top: 60px;
    cursor: pointer;
}

/* 會員中心主要內容共用區 */
.member-center-content {
    align-self: stretch;
    flex-grow: 1;
    border-radius: 10px;
    background-color: #ffffff;
    width: 60%;
    max-width: 850px;
}

/* 帳號管理主要內容 */
.member-center-content.account-manage-content {
    padding: 50px 26px;
}

.account-manage-content .account-manage__title-box {
    margin-bottom: 40px;
}

.account-manage-content .account-manage__title {
    margin-bottom: 10px;
}

.account-manage-content .account-manage__tab-box {
    display: flex;
    padding-bottom: 8px;
}

.account-manage-content .tab {
    margin-right: 25px;
}

.account-manage__tab-btn {
    font-size: 16px;
}

/* 帳號管理頁籤內容 */
.account-manage__tab-content-box {
    margin-top: 25px;
}

/* 會員基本資料 */
.member-info-content{
    display: none;
}

.member-info-content.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}

.member-info-content .split-line {
    margin: 22px 0 22px 0;
}

.member-info-content p {
    margin-top: 10px;
}

#member-info-edit-btn,
#member-info-save-btn,
#member-info-cancel-btn {
    align-self: flex-end;
    width: 92px;
    height: 48px;
    padding: 0;
    border: solid 1px #d9d9d9;
    border-radius: 10px;
    font-size: 16px;
    /* line-height: 1em; */
    background-color: #c6c6c6;
    color: #ffffff;
}

/* 會員基本資料修改表單 */
.member-info-edit {
    display: none;
}

.member-info-edit.active {
    display: block;
}

.member-info-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}

.member-info-form input,
.member-info-form select {
    width: 300px;
    height: 48px;
    margin-top: 10px;
    padding: 10px 0 10px 14px;
    border: solid 1px #d9d9d9;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1em;
}

.account-manage__title-box,
.account-manage__tab-box,
.member-info-form input,
.member-info-form select,
.member-info-form label,
.member-info-content p {
    margin-left: 22px;
}

.account-manage-content form .split-line {
    margin: 22px 0 22px 0;
}

.member-info__name-box {
    display: flex;
    flex-wrap: wrap;
}

.member-info__name-box :first-child {
    margin-right: 22px;
}

.member-info-btn-box{
    display: flex;
    align-self: flex-end;
}